.filter-blur { -webkit-filter: blur(2px); filter: blur(2px); }
.filter-blur.hover { -webkit-filter: blur(2px); filter: blur(2px); transition: 0.4s; }
.filter-blur.hover:hover { -webkit-filter: blur(0); filter: blur(0); }

.filter-saturate { -webkit-filter: saturate(0); filter: saturate(0); }
.filter-saturate.hover { -webkit-filter: saturate(0); filter: saturate(0); transition: 0.4s; }
.filter-saturate.hover:hover { -webkit-filter: saturate(100%); filter: saturate(100%); }
