a#s2t {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
  margin: 18px;
  text-align: center;
}

a#s2t:hover,
a#s2t:focus {
  border-bottom: 0px solid transparent;
  border-bottom-style: none;
}

a#s2t img {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
	      box-shadow: none;
}
