$s_post-shadow: 0 0.15em 0.3em -0.2em rgba(0, 0, 0, .4);

.post {
  
  background-color: white;
  margin: 5em auto;
  -webkit-box-shadow: $s_post-shadow;
     -moz-box-shadow: $s_post-shadow;
          box-shadow: $s_post-shadow;

  @media (min-width: 320px) {
    width: 290px;
  }

  @media (min-width: 768px) {
    width: 600px;
  }

  @media (min-width: 1024px) {
    width: 768px;
  }

}

.post-head {

  width: 100%;
  background-color: white;
  padding: .9em;
  border-bottom: 1px solid rgba(169, 169, 169, 0.329);
  position: sticky;
  top: 0;
  z-index: 1000;

  & figure {
    float: left;
    margin: 0;
  }

  & .post-head_user {
    margin: .5em 0em .2em 3.8em;
    & h3 {
      margin: 0;
    }
    & p {
      margin: 0;
      opacity: 0.5;
    }
  }

}

.post-body {
  padding: .9em;

  & .post-body_images {
    overflow: auto;
    list-style: none;
    white-space: nowrap;

    & li {
      display: inline-block; 
    }

  }

}